@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");

body {
  font-weight: 200;
  font-family: "Abel" !important;
}

input,
nav-item {
  font-weight: 200;
  line-height: 110%;
}
.navbar {
  padding: 0;
  background-color: #00b4db !important;
}
.btn,
.card {
  z-index: 1;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.card,
.btn,
.form-control {
}
.card {
  background: #ffffff; /* fallback for old browsers */
}
#card {
  min-width: 300px;
  max-width: 400px;
}
.header-color {
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#intro1 {
  background-color: rgba(13, 114, 172, 0.739);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
#title1 {
  color: aliceblue;
}
#slika1 {
  border-radius: 0%;
  width: 90%;
  height: 90%;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
#app {
  /*background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./assets/images/slika18_half_blured.jpg") !important;
  min-height: 1000px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  min-height: 100vh;
  background: #1a2980; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #26d0ce,
    #1a2980
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #00b4db,
    #1a2980
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.footer {
  position: bottom;
}
#inputGroupFile01 {
  display: none;
}
#country {
  display: inline-block;
}
#idAlert {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
textarea {
  width: 100%;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent !important;

  resize: none; /*remove the resize handle on the bottom right*/
}
p span {
  display: block;
}
#navbarResponsive {
  justify-content: flex-end;
}
