@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Abel&display=swap");
html,
body {
  height: 100%;
}
body {
  font-weight: 200;
  font-family: "Abel" !important;
}

input,
nav-item {
  font-weight: 200;
  line-height: 110%;
}
.navbar {
  background: #f7b733; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f7b733,
    #ffe3a7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f7b733, #fff1d3);

  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.btn {
  border-radius: 25px;
}
.btn,
.card {
  z-index: 1;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.btn-info :hover {
  border: none;
}
.btn-info {
  margin-right: 3px;
  background: #f7b733; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f7b733,
    #ffe3a7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f7b733, #fff1d3);
  border: none;
  color: black;
}
.btn-light {
  border: none;
}
.btn-light :hover {
  border: none;
}
.card {
  background: #ffffff; /* fallback for old browsers */
}
#card {
  max-width: 320px;
}
#cardInside {
  background: #f7b733; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f7b733,
    #ffe3a7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fff1d5, #f8f1e1);
  border: none;
  color: black;
}
.card-footer {
  min-height: 49px;
}
.header-color {
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #0084b086,
    #00b3db81
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#primo1 {
  margin-top: 7vh;
  margin-bottom: 40px;
  width: 90%;
  min-height: 45vh;
  color: white;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
#primo1 .card-title {
  font-size: 9vh;
}
#primo1 .card-text {
  font-size: 4vh;
  font-weight: 800;
}
#primo1subtitle {
  color: #f7b733;
}
#primo2 {
  margin-top: 10px;
  width: 90%;
  color: white;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
#primo21 {
  width: 100%;
  margin-top: 10px;
  color: white;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
#primo2 h1 {
  color: #f7b733;
}
#top3 {
  min-height: 40vh;
  margin-top: 10px;
  width: 90%;
  color: black;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
#top3 h1 {
  color: #f7b733;
}
#boldit2 {
  font-weight: 600;
}
#boldit {
  font-weight: 650;
}
#daily {
  font-family: "Dancing Script", cursive;
}
#intro1 {
  margin-top: 5vh;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f0edf5,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f0edf5,
    #a1d9ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35);
  border-radius: 30px;
  color: rgb(77, 57, 57);
  padding: 5%;
}

#app {
  /*background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./assets/images/slika18_half_blured.jpg") !important;
  min-height: 1000px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/

  position: relative;
  padding-top: 100px;
  min-height: 100vh;
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #095579,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #095579,
    #0e9bbb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /*background: #095579;
  /*background: #4460ff;
  /*background: #1a2980; /* fallback for old browsers */
  /*background: -webkit-linear-gradient(
    to top,
    #26d0ce,
    #1a2980
  ); /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(
    to top,
    #00b4db,
    #1a2980
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 5px; /*zbog futera*/
}
#inputGroupFile01 {
  display: none;
}
#country {
  display: inline-block;
}
#idAlert {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
textarea {
  width: 100%;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent !important;

  resize: none; /*remove the resize handle on the bottom right*/
}
p span {
  display: block;
}
#navbarResponsive {
  justify-content: flex-end;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: rgb(57, 224, 79);
  border-radius: 50%;
  display: inline-block;
}
footer {
  padding-top: 35px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}
#linkic {
  color: #095579;
}
